name: Build and Release

on:
  release:
    types: [created]

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          version: "0.9.18"
      - name: Install dependencies
        run: uv sync --locked --all-extras
      - name: Build
        run: uv build
      - name: Upload Release Asset
        uses: actions/upload-artifact@v6
        with:
          name: ot-distributions
          path: "dist/*"
          if-no-files-found: error
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
